{{- include "slvlib.clusterrolebinding" . | nindent 0 }}

---

{{- if not (.Values.webhook.disableAutomaticCertManagement) }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: slv-webhook-rolebinding
subjects:
- kind: ServiceAccount
  name: slv-serviceaccount
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: slv-webhook-clusterrole
  apiGroup: rbac.authorization.k8s.io
{{- end }}
