# Please ensure that atleast one of ["secretBinding","k8sSecret"] are filled. 
# SLV may not work as expected without a secret key or binding specified.

# The secretBinding String
secretBinding: ""

# The name of the secret in the Kubernetes cluster that contains the secretKey or the secretBinding. 
# The secretKey is to be put inside the key name "SecretKey".
# (or)
# The secretBinding is to be put inside the key name "SecretBinding". 
# Ensure that this exists in the same namespace as the release namespace.
k8sSecret: ""

# The image with tag to be used for SLV
# You must ensure that the tag that you use is the same as Chart.Version
# Otherwise, helm will throw an error.
image: ""
# The image pull policy.
imagePullPolicy: ""

# Setting resource constraints for the operator.
resource:
  # # Resource limits 
  # limits:
  #   cpu: "250m" 
  #   memory: "250Mi" 
  # # Resource requests 
  # requests:
  #   cpu: "250m" 
  #   memory: "250Mi" 

# The labels to be set for the Deployment/CronJob/Job
labels: {}

# The pod Labels to be set for SLV pods.
podLabels: {}

# The name with which the serviceAccount to be attached to the SLV pods. 
# If you set this value, the helm chart will not set up cluster roles or cluster role bindings. 
# You will have to make sure that the service account attached has necessary permissions for SLV to run smoothly. 
# Understand the consequenses of filling this value carefully.
serviceAccountName: ""

# The volumes to be mounted inside the SLV pods.
volumes: []

# The volume mounts to be mounted inside the SLV pods.
volumeMounts: []

# The number of replicas to be used by the deployment for SLV pods. 
replicas: 


webhook:
  
  # If set to false (left as it is), slv will automatically create TLS certificates for the webhook and set up the configuration. 
  # If set to false, you will have to create the TLS certificates and set up the configuration manually. You can
  # - Use .Values.operator.volumes and .Values.operator.volumeMounts to mount the TLS certificates inside the SLV pods.
  # - Use .Values.webhook.vwhAnnotations to set up ca injection (If using cert-manager)
  # Default: false
  disableAutomaticCertManagement:  

  # The name of the service that routes to the webhook server
  # Default: slv-webhook-service
  serviceName: 

  # Name of the ValidatingWebhookConfiguration for SLV webhook
  # Default: slv-operator-validating-webhook
  validatingWebhookConfigName: 

  # Name of the Secret where TLS certs will be stored for SLV webhook
  # Default: slv-webhook-server-cert
  certSecretName: 

  # Annotations to add to the validatingWebhookConfiguration
  vwhAnnotations: 




